<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>

    <link rel="stylesheet" href="../css/Estilos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">

    <link rel="shortcut icon" href="../img/logo.png">


</head>
<body>
    <div class="menu-principal">
       <div class="logo" id="logo">
        <img src="../img/logo.png" alt="Logo">
       </div>
       <div class="menu-bar" id="menuBar">

        <i class="fas fa-angle-right" id="btnMenuClose"></i>

        <nav class="enlaces" id="enlaces">
            <ul>
                <li><a href="">Servicios</a></li>
                <li><a href="">Equipo</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
        <div class="sociales">
            <a href="#"><span class="fab fa-facebook"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-youtube"></span></a>
        </div>
    </div>

    <i class="fas fa-bars" id="btnMenuOpen"></i>
    
    </div>
    
    
    
    
    
    
    
    

    <script src="../js/app.js"></script>

    <!--SECCION DE SERVICIOS-->
    <section id="servicios"> 
         <div class="servicios titulos">
             <h2 class="subtitulos">La mejor pizza del mundo</h2>
             <h1 class="titulos">Bienvenidos</h1>
         </div>





    <div class="servicios-container">
        <div class="imagen-central">
            <img src="../img/mitad-mitad.png">
        </div>

        <div class="items calidad">
            <p><span  class="fas fa-pizza-slice"></span></p>
            <p class="titulo-item">Calidad</p>
            <p class="texto-item">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="items ingredientes">
            <p><span  class="fas fa-pizza-cheese"></span></p>
            <p class="titulo-item">Ingredientes</p>
            <p class="texto-item">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>

        <div class="items rapidez">
            <p><span  class="fas fa-pizza-slice"></span></p>
            <p class="titulo-item">Rapidez</p>
            <p class="texto-item">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        
        <div class="items entrega">
            <p><span  class="fas fa-pizza-slice"></span></p>
            <p class="titulo-item">Entrega</p>
            <p class="texto-item">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
    </div>

    </section>

    
    
</body>
</html>